.main {
  position: relative;
  display: flex;
  padding: 2.5rem 2rem;
  width: 100%;
  min-height: calc(100dvh - (4.375rem * 2));
}

@media (max-width: 770px) {
  .main {
    min-height: calc(100dvh - (7.5rem + 4.375rem));
  }
}

@media (max-width: 400px) {
  .main {
    padding: 2rem 1.5rem;
  }
}
