.main {
  position: relative;
  display: flex;
  padding: 2.5rem 2rem;
  width: 100%;
  min-height: calc(100dvh - (4.375rem * 2));
}

@media (max-width: 770px) {
  .main {
    min-height: calc(100dvh - (3.75rem + 7.5rem));
  }
}

@media (max-width: 767px) {
  .main {
    padding: 1.75rem 1rem;
  }
}
